.header-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.chat-body {
  padding: 0;
  background-image: url(../images/chat-BG.png);
  padding-top: 100px;
}
.chat {
  min-height: 1000vh;
}

.chat-body .status-bar {
  padding: 5px 10px;
  background-color: lightslategray;
}

.chat__write-container {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px;
  margin: 0px;
}

@keyframes float {
  0% {
    box-shadow: 0px 13px 27px rgba(61, 250, 23, 0.25),
      0px 8px 30px rgba(61, 250, 23, 0.3), 0px -6px 16px rgba(61, 250, 23, 0.24);
    transform: translateY(-100px);
  }
  50% {
    box-shadow: 0px 13px 27px rgba(61, 250, 23, 0.25),
      0px 8px 10px rgba(61, 250, 23, 0.3), 0px -6px 16px rgba(61, 250, 23, 0.24);
    transform: translateY(-99px);
  }
  100% {
    box-shadow: 0px 13px 27px rgba(61, 250, 23, 0.25),
      0px 8px 30px rgba(61, 250, 23, 0.3), 0px -6px 16px rgba(61, 250, 23, 0.24);
    transform: translateY(-100px);
  }
}

.chat__write {
  background-color: rgb(61, 250, 23);

  margin: 0 auto;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  padding: 10px 60px;

  border: none;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.5s ease-in;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write:focus {
  outline: none;
  width: 80%;

  transform: translateY(-100px);
  border-radius: 20px;
  /* box-shadow: 0px 13px 27px rgba(61, 250, 23, 0.25),
    0px 8px 16px rgba(61, 250, 23, 0.3), 0px -6px 16px rgba(61, 250, 23, 0.24); */
  animation: float 1.5s 0.5s ease-in-out infinite forwards;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat-body .header__column:nth-child(2) {
  margin-right: 20px;
}
.chat-body .header__back-btn {
  margin-left: 20px;
  color: rgb(219, 236, 144);
}

.chat-body .header__title {
  color: rgb(219, 236, 144);
  font-size: 22px;
}

.chat-body .header i,
.chat .chat__timestamp,
.chat .message__autor,
.chat .message__bubble,
.chat .message__timestamp {
  color: rgb(219, 236, 144);
}

.chat .chat__messages {
  padding-top: 20px;
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat .chat__timestamp {
  font-size: 14px;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: thistle;
  border-radius: 10px;
  box-shadow: 0px 13px 27px rgba(216, 191, 216, 0.25),
    0px 8px 16px rgba(216, 191, 216, 0.3),
    0px -6px 16px rgba(216, 191, 216, 0.24);
}
.chat .message {
  width: 100%;
  margin: 10px;
}
.chat .chat__messages {
  display: flex;
  flex-direction: column;
}
.chat .message__content {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
.chat .incoming-message {
  display: flex;
  justify-content: flex-start;
  padding: 5px 5px;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.chat .incoming-message img {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: spin 1s linear infinite;
}
.incoming-message .message__autor {
  padding-bottom: 5px;
}
.chat .send-message {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.incoming-message .message__bubble {
  background-image: linear-gradient(to right, #000046, #1cb5e0);
  padding: 5px 3px;
  border-radius: 10px;
  box-shadow: 0px 13px 27px rgba(46, 125, 245, 0.25),
    0px 8px 16px rgba(46, 125, 245, 0.3), 0px -6px 16px rgba(46, 125, 245, 0.24);
  border-bottom-left-radius: 0px;
  font-weight: 700;
}
.send-message .message__bubble {
  background-image: linear-gradient(to right, #c0392b, #8e44ad);
  padding: 5px 3px;
  border-radius: 10px;
  box-shadow: 0px 13px 27px rgba(208, 69, 250, 0.25),
    0px 8px 16px rgba(208, 69, 250, 0.3), 0px -6px 16px rgba(208, 69, 250, 0.24);
  border-bottom-right-radius: 0px;
  font-weight: 700;
}

.message .message__timestamp {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
}

@keyframes incomingAnimation {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.incoming-message {
  animation: incomingAnimation 0.5s ease-in forwards;
}

@keyframes sentAnimation {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.send-message {
  animation: sentAnimation 0.5s ease-in forwards;
}
